@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, a, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  list-style: none outside none; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

li, a, p, h1, h2, h3, h4, h5, h6, label, input, .button, input[type="button"], input[type="submit"], th, td {
  list-style: none outside none;
  text-decoration: none;
  font-family: "Source Sans Pro", Georgia, serif;
  font-size: 11pt;
  line-height: 1.5em;
  letter-spacing: 0.02em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro"; }

input, .button, input[type="button"], input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: 1px solid #e6e6e6;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 40px;
  height: 40px;
  margin-bottom: 10px;
  outline: none;
  padding: 0 10px;
  width: 100%; }
  input::-webkit-input-placeholder, .button::-webkit-input-placeholder, input[type="button"]::-webkit-input-placeholder, input[type="submit"]::-webkit-input-placeholder {
    font-weight: 300; }
    input::-webkit-input-placeholder:first-letter, .button::-webkit-input-placeholder:first-letter, input[type="button"]::-webkit-input-placeholder:first-letter, input[type="submit"]::-webkit-input-placeholder:first-letter {
      text-transform: capitalize; }
  input::-moz-placeholder, .button::-moz-placeholder, input[type="button"]::-moz-placeholder, input[type="submit"]::-moz-placeholder {
    font-weight: 300; }
    input::-moz-placeholder:first-letter, .button::-moz-placeholder:first-letter, input[type="button"]::-moz-placeholder:first-letter, input[type="submit"]::-moz-placeholder:first-letter {
      text-transform: capitalize; }
  input:-ms-input-placeholder, .button:-ms-input-placeholder {
    font-weight: 300; }
    input:-ms-input-placeholder:first-letter, .button:-ms-input-placeholder:first-letter {
      text-transform: capitalize; }
  input:-moz-placeholder, .button:-moz-placeholder {
    font-weight: 300; }
    input:-moz-placeholder:first-letter, .button:-moz-placeholder:first-letter {
      text-transform: capitalize; }
  input:focus, .button:focus {
    border-color: #75b9fe; }

body input[type="checkbox"], body [type="checkbox"].button, body .field-checkbox {
  margin: 0 3px 10px 0px;
  padding-left: 0;
  vertical-align: middle;
  width: auto; }
  body input[type="checkbox"] input, body [type="checkbox"].button input, body input[type="checkbox"] .button, body [type="checkbox"].button .button, body .field-checkbox input, body .field-checkbox .button {
    margin-bottom: 0; }
  body input[type="checkbox"] .field-checkbox-label, body [type="checkbox"].button .field-checkbox-label, body .field-checkbox .field-checkbox-label {
    display: inline-block;
    font-size: 15px;
    padding-top: 0; }

textarea {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 20px;
  min-height: 75px;
  outline: none;
  padding: 10px;
  width: 100%; }
  textarea:focus {
    border-color: #75b9fe; }

select {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background: white;
  border: 1px solid #e6e6e6;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 20px;
  height: 40px;
  outline: none;
  padding: 10px;
  width: 100%; }
  select:focus {
    border-color: #75b9fe; }

label {
  color: #1c1b1b;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
  padding-right: 15px;
  text-align: left;
  text-transform: capitalize; }

.button, input[type="button"], [type="button"].button, input[type="submit"], [type="submit"].button {
  background-image: linear-gradient("top, $accent, darken($accent, 5%)");
  background-image: -o-linear-gradient("top, $accent, darken($accent, 5%)");
  background-image: -ms-linear-gradient("top, $accent, darken($accent, 5%)");
  background-image: -moz-linear-gradient("top, $accent, darken($accent, 5%)");
  background-image: -webkit-linear-gradient("top, $accent, darken($accent, 5%)");
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  -webkit-text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #5cacfe;
  border: 1px solid #429ffe;
  color: #fff;
  display: block;
  font-size: 13px;
  padding: 0 30px 0 20px; }
  .button [class^="icon-"], .button [class*=" icon-"], .button [class^="path"], .button [class*=" path"], input[type="button"] [class^="icon-"], [type="button"].button [class^="icon-"], input[type="button"] [class*=" icon-"], [type="button"].button [class*=" icon-"], input[type="button"] [class^="path"], [type="button"].button [class^="path"], input[type="button"] [class*=" path"], [type="button"].button [class*=" path"], input[type="submit"] [class^="icon-"], [type="submit"].button [class^="icon-"], input[type="submit"] [class*=" icon-"], [type="submit"].button [class*=" icon-"], input[type="submit"] [class^="path"], [type="submit"].button [class^="path"], input[type="submit"] [class*=" path"], [type="submit"].button [class*=" path"] {
    font-size: 16px;
    padding-right: 5px;
    vertical-align: middle; }
  .button:hover, input[type="button"]:hover, [type="button"].button:hover, input[type="submit"]:hover, [type="submit"].button:hover {
    background-color: #429ffe;
    border: 1px solid #2992fd;
    color: #fff;
    cursor: pointer; }

@media screen and (max-width: 680px) {
  .form-section .form-section-description, .form-section .form-section-field {
    padding-left: 0;
    width: 100%; }
  .form-section .form-section-actions {
    padding-top: 15px; } }

/*# sourceMappingURL=main.css.map */
