// VARS

$black: #1c1b1b
$blue: #75b9fe

// Used in App

$bg: $black
$accent: $blue
$border: #e6e6e6
$link: #48A3FE

// Responsive breakpoints

$max_width: 1400px
$medium: 960px
$small: 680px

// PARTIALS

@import "base"
@import "layout"
@import "typography"
@import "forms"

// MODULES

@import "partials/header"
@import "partials/home"
